* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Train One;
    src: url(TrainOne-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Rubik Mono One;
    src: url(RubikMonoOne-Regular.ttf);
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    background-color: #FFFAF4;
    background-position: bottom;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-family: Train One;
    color: #582D29;
    font-size: 100px;
    text-align: center;
    text-decoration: none;
    border-bottom: none;
}

.navbar {
    background-color: #7F7455;
    text-align: center;
    padding: 20px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
    position: relative;
}

.navbar a {
    font-family: Rubik Mono One;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 110px;
}


.navbar .submenu {
    display: none;
    position: absolute;
    background-color: #7f74557d;
    top: 100%;
}


.navbar li:hover .submenu {
    display: block;
}

.navbar .submenu a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.pic-container {
    background-image: url('brug.jpeg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 640px;
}

.logo-link {
    text-decoration: none;
}